@import url("https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@300;400&family=Montserrat:wght@100;400&family=Notable&family=Orbitron:wght@400;500&family=Outfit:wght@200&family=Raleway:wght@300;400&family=Roboto+Mono&family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: white;
}

body{
    font-size: large;
}

div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}

